.counts{
    margin: 12px 0px;
    color: var(--text-color-secondary);
}

@media only screen and (min-width: 720px){
    .inputContainer{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .counts{
        flex: 1;
    }
    .input{
        flex: 2;
    }
}